/* Rendering */
body {
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
}

/* Headings */
h2, h3 {
  font-feature-settings: "kern" 1, "liga" 1, "ss01" 1;
  font-weight: var(--font-weight-heading);
  letter-spacing: -0.02em;
  line-height: 1.1;
}
h1 {
  font-weight: var(--font-weight-heading);
  letter-spacing:  0;
}

/* Body text */
p, li, blockquote {
  font-feature-settings: "kern" 1, "liga" 1, "onum" 1;
  hanging-punctuation: first last;
}

/* Italics */
em, cite, i {
  font-feature-settings: "kern" 1, "liga" 1, "dlig" 1;
}

/* Numeric */
time, data {
  font-feature-settings: "kern" 1, "tnum" 1, "lnum" 1;
  font-variant-numeric: tabular-nums lining-nums;
}
