---
import type { QuoteSection } from '../../types';

type Props = QuoteSection;

const { text, attribution } = Astro.props;
---

<blockquote class="quote">
  <p>"{text}"</p>
  {attribution && <cite>{attribution}</cite>}
</blockquote>

<style>
  .quote {
    margin: 0;
    padding-left: 1.25rem;
    border-left: 2px solid var(--color-fg);
  }

  p {
    margin: 0;
    font-size: 1.1rem;
    font-style: italic;
  }

  cite {
    display: block;
    margin-top: 0.5rem;
    font-style: normal;
    font-size: 0.85rem;
    color: var(--color-muted);
  }
</style>
