---
import type { TextSection } from '../../types';

type Props = TextSection;

const { body } = Astro.props;
---

<section class="text">
  <p>{body}</p>
</section>

<style>
  .text {
    font-size: calc(1rem * var(--font-scale-body));
  }

  p {
    margin: 0;
    white-space: pre-wrap;
  }
</style>
